.container{
	margin:auto;
	background-color:lightblue;
}
body{
	background-color:lightblue;
}
.naglowek {
  overflow: hidden;
 background-color:lightblue;
  width:98vw;
  font-size:1.11vw;
}
.logo{
float:left;
width:5.5vw;
height:5.5vw;

}
#h1{
text-align:center;

}
.tresc1 {
  background-color:lightblue;
  float:left;
  width:98vw;
  height:400px;
  text-align:center;
}
.tresc2 {
  background-color:lightblue;
  float:left;
  width:98vw;
  height:20vw;
  text-align:center;
}
.tresc3 {
  background-color:lightblue;
  float:left;
  width:98vw;
  height:40vw;
  text-align:center;
  font-size:1.25vw;
  
}
.tresc111{
	width:50vw;
	margin:auto;
	text-align:center;
	background-color:lightblue;
	font-size:1.1vw;
	}
.stopka{
	clear:both;
	background-color:;
}
table,th,td{
text-align:center;
margin:auto;
border: 6px solid;
border-color: #333;
width:49vw;
font-size:1.4vw;
}
.tresc11 {
  background-color:lightblue;
  float:left;
  width:98vw;
  height:550px;
  text-align:center;
}
.aa{
	background-color:#FFFF66;
	margin:auto;
	display:block;
	font-size:1.3vw;
    width: 15vw;
    height:5vw;
    text-decoration: none;
    color: #3333CC;
	padding-top: 0.3vw;
    border-style: solid;
    border-left-width: 0.3vw;
    border-right-width: 0.3vw;
}
.tresc22 {
  background-color:lightblue;
  float:left;
  width:98vw;
  height:13.3vw;
  text-align:center;
  font-size:1.2vw;
}
.lista{
	list-style-position:inside;
	font-size:1.5vw;
}
.fixedh1{
	position:fixed;
	top:10vw;
	left:5vw;
	text-decoration:none;
	font-size:2.3vw;
}
.fixedh2{
	position:fixed;
	top:10vw;
	left:13vw;
	text-decoration:none;
	font-size:2.3vw;
}


.topnav {
  background-color: #333;
  overflow: hidden;
  width:98vw;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
* {box-sizing:border-box}

.slideshow-container {
  max-width: 30vw;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top:10vw;
  width:5vw;
  margin-top:auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
 
}

.prev{
	left: 0;
	border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}